body{
    background-color: rgb(246, 246, 246);
}
@media only screen and (max-width: 768px) {
    .navbar{
        justify-content: space-between;
    }
    .form-control{
        width: 10em;
    }
    .navbar-toggler{
        width: 1.6em;
        border: 0;
        padding-left: 0;
    }
    .img_nav{
        width: 1.6em;
    }
    .img-carrito{
        width: 8.5em;
        margin-right: 1em;
        margin-left: 1em;
    }
    .form-direccion{
        padding: 1em;
        background-color: white;
    }
}
@media only screen and (min-width: 1000px) {
    .res-ped{
        margin-top: 7em;
        padding: 1em;
        border: 1px solid gray;
        height:30em;
    }
    .form-direccion{
        padding: 1em;
        background-color: white;
    }
    .input-file{
        height: 15em;
    }
    .input-text{
        width: 100%;
    }
}

.precio-carrito{
    font-weight: bold;
}